<hr>
<hr>
<hr>
<h2>Update Client</h2>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <form action="/client/<%= @cliend.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <div class="form-group">
          <label for="name">Name
            <input id="name" type="text" name="name" class="form-control" value="<%= client.name %>">
          </label>
        </div>
        <div class="form-group">
          <label for="phone_number">Phone number
            <input id="phone" type="phone" name="phone_number" class="form-control" value="<%= client.phone_number %>">
          </label>
        </div>
        <!-- <div class="form-group">
          <label for="stylist">Select a stylist</label>
          <% if @stylists.any? %>
            <select name="stylist_id" class="form-control">
              <% @stylists.each do |stylist| %>
                <% if @client.stylist_id == stylist.id %>
                  <option value="<%= stylist.id %>" selected="selected"><%= stylist.name %></option>
                <% else %>
                  <option value="<%= stylist.id %>"><%= stylist.name %></option>
                <% end %>
              <% end %>
            </select>
          <% else %>
            <a href="/stylist/add">Add a stylist</a>
          <% end %>
        </div> -->
        <button type="Submit" name="button" class="btn-primary">Update Client</button>
        <hr>
        <h3><a href="/">Home</a></h3>
      </form>
    </div>
  </div>
</div>
