<hr>
<hr>
<hr>
<h2>Client Information</h2>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Name: <%= @client.name %></h3>
    <h3>Phone number: <%= @client.phone_number %></h3>
    <h3>Client's current stylist: <%= @stylist.name() %></h3>
    <hr>
    <form class="form-group" action="/clients/<%= @client.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="new_client_name">New Name: </label>
      <input id="new_client_name" name="new_client_name" type="text" placeholder="<%= @client.name() %>">
      <label for="new_client_phone_number">New Phone Number: </label>
      <input id="new_client_phone_number" title="Ten digits code" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  name="new_client_phone_number" type="tel" placeholder="<%= @client.phone_number() %>">
      <!-- <h3>Select a Stylist</h3> -->
      <label for="new_stylist_id">Select a Stylist</label>
      <select id='new_stylist_id' name='new_stylist_id' type='text'>
        <% @stylists.each() do | stylist | %>
          <option value="<%= stylist.id() %>"> <%= stylist.name() %></option>
        <% end %>
      </select>
      <button type="submit">Update</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Delete Client: <%= @client.name() %></h3>
    <form action="/clients/<%= @client.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="submit">Delete Client</button>
    </form>
    <hr>
    <a href="/clients">View Clients</a><br>
    <a href="/stylists">View Stylists</a><br>
    <a href="/">Home</a>
  </div>
</div>
