<hr>
<hr>
<hr>
<h2>Client</h2>
<hr>
<div class="row">
  <% if @client %>
  <div class="col-md-6 col-md-offset-3">
    <h3><%= @clients.name %></h3>
    <hr>
    <h3><%= @client.id %></h3>
    <hr>
    <h3><%= @client.phone_number %></h3>
    <hr>
    <h3><a href="/client/update<%= @client.id %>">Update Client</a></h3>
    <hr>
    <h3><a href="/client/add<%= @client.id %>">Add Stylist</a></h3>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form class="form-control" action="/client/<%= client.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="submit">Delete Client</button>
    </form>
  </div>
  </div>
</div>
<div class="row">
<div class="col-md-3">
  <% if @stylist %>
  <a href="/stylist/view/<%= stylist.id %>"><%= stylist.name %></a></li>
  <% end %>

<% else %>

<% end %>
</div>
