<hr>
<hr>
<hr>
<h2>Stylist</h2>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Name: <%= @stylist.name %></h3>
    <h3>Phone number: <%= @stylist.phone_number %></h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <form action="/stylists/<%= @stylist.id() %>" method="post">
        <input type="hidden" name="_method" class="form-control" value="patch">
        <div class="form-group">
          <label for="new_name">New Name</label>
          <input type="text" name="new_name" id="new_name" value="<%= @stylist.name() %>">
        </div>
        <div class="form-group">
          <label for="new_phone_number">New Phone Number</label>
          <input id="new_phone_number" value="<%= @stylist.phone_number%>" type="tel" name="new_phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Ten digits code" class="form-control">
        </div>
        <button type="Submit" name="button" class="btn-primary">Update Stylist</button>
      </form>
        <hr>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form action="/stylists/<%= @stylist.id() %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="btn-danger" type="submit" name="submit">Delete Stylist</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2> Client list for <%= @stylist.name() %></h2>
              <% if @stylist.clients.any? %>
              <ol>
                <% @stylist.clients.each() do | client | %>
                <li><%= client.name() %></li>
                <% end %>
              </ol>
              <% else %>
                <h4>There are no clients for this stylist.</h4>
              <% end %>
          </div>
        </div>
        <hr>
        <a href="/stylists">Stylists</a><br>
        <a href="/clients">Clients</a><br>
        <a href="/">Home</a>
        <hr>
      </form>
    </div>
  </div>
</div>
